<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCw6qFgbJts3w2PEu5xOvrhyJadC4i7aa4</string>
	<key>GCM_SENDER_ID</key>
	<string>934221685414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedredaoumahdi.lifepilot.LifePilot2</string>
	<key>PROJECT_ID</key>
	<string>lifepilot-2596f</string>
	<key>STORAGE_BUCKET</key>
	<string>lifepilot-2596f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934221685414:ios:d466c3e541b43ce497ca67</string>
</dict>
</plist>